#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40rem;
}

.container {
  display: flex;
  /* background-color: yellow; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.img-sec {
  background-color: green;
  display: flex;
  width: 16rem;
  height: 16rem;
  border: none;
  border-radius: 1rem;
  gap: 5rem;

}

.dialog {
  width: 14rem;
  height: 25srem;
  border: none;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: #fff;
  position: fixed;
  top: 0;
   right: 20px;
}

.dialog-img {
  width: 10rem;

  /* background-color: blue; */
}

.addbtn {
  background-color: red;
  width: 10rem;
  height: 2rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Search-bar {
  background-color: rgb(77, 77, 175);
  display: flex;
  border: 3px solid black;
  border-radius: 2rem;
  width: 25rem;
  height: 3rem;
  color: white;
}

.meals {
  display: flex;
  background-color: green;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
